@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.vertical-divider {
  width: 1px;
  background-color: #c4cec5;
  opacity: 0.7;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.horizontal-divider {
  height: 1px;
  background-color: #c4cec5;
  opacity: 0.7;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
